# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
!/build/
!/build/icon.icns
!/build/icon.ico
!/build/icon.png
!/build/mdi-icon.icns
!/build/mdi-icon.ico
!/build/mdi-icon.png
/dist*

# electron
/dist-electron/
/*.dmg
/*.dmg.blockmap
/*.zip
/*.zip.blockmap
/*.AppImage
/*.exe
/*.msi
/*.snap
/*.deb
/*.rpm
/release/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# WebStorm
.idea
